main {
  background-color: #26282b;
  color:whitesmoke;
  margin-bottom: 100px;
}
main.light-theme{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

/* CSS initial */
.accueil {
  position: relative;
  display: flex;
  width: fit-content;
  gap: 0;
  justify-content: center;
  align-items: center;
  margin: 250px auto 200px auto;
  height: auto;
}
.pitchArea{
  width: auto;
  margin: 0 auto;
  padding: 1px;
  background-image: var(--test);
  background-repeat: no-repeat;
  background-size: 0 0, 0 0, 0% 0;
  animation: 2s drawBorderFromLeft 0.5s forwards;
  border-radius: 20px;
}
.pitch {
  position: relative;
  display: flex;
  width: 25vw;
  min-width: 280px;
  max-width: 400px;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  background: radial-gradient(#26282b,#181B1F);
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgba(90,90,90,.1), 0 8px 10px -6px hsla(0,0%,43%,.1);
  padding: 20px;
}

.pitch.light-theme{
  background: radial-gradient(whitesmoke,white);
  color: #26282b;
}

.pitch h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  color: #CFAA7A;
}
.pitch h2 {
  margin: 0;
}
.pitch p {
  margin: 0;
}

.icon {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.icon i {
  font-size: 5rem;
  color: #CFAA7A;
  transition: transform 0.3s ease;
}

.icon i:hover{
  transform: scale(1.20);
}

.line{
  height: 1px;
  width: 10vw;
  left: 0;
  position: relative;
  background-repeat: no-repeat;
  animation: 1s lineHorizontalGrow 2.5s forwards;
}

.profilePicture{
  border-radius: 50%;
  width: 40vw;
  height: 100%;
  max-width: 400px;
  min-width: 250px;
  object-fit: contain;
  border: 2px double #CFAA7A;
  z-index: 1;
}

/* Animations */
@keyframes drawBorderFromTop {
  0% {
    background-size: 0 1px, 0 0, 100% 100%;
    background-position: top center, top center, bottom center;
  }
  20% {
    background-size: 100% 1px, 100% 0, 100% 100%;
  }
  66% {
    background-size: 100% 1px, 100% 98%, 100% 100%;
  }
  100% {
    background-position: top center, top center, bottom center;
  }
}

@keyframes drawBorderFromLeft {
  0% {
    background-size: 1px 0, 0 0, 100% 100%;
    background-position: center left, top left, center right;
  }
  20% {
    background-size: 1px 100%, 0 100%, 100% 100%;
    background-position: left left, top left, center right;
  }
  66% {
    background-size: 1px 100%, 98% 100%, 100% 100%;
    background-position: center left, top left, center right;
    background-color: #CFAA7A;
  }
  100% {
    background-size: 1px 100%, 98% 100%, 100% 1px;
    background-position: center left, top left, center right;
    background-color: #CFAA7A;
  }
}

@keyframes lineVerticalGrow {
  from {
    background-size: 1px 0, 0% 0%;
    background-image: var(--test);
  }
  to {
    background-size: 100% 100%, 100% 100%;
    background-image: var(--test);
  }
}

@keyframes lineHorizontalGrow {
  from {
    background-size: 1px 1px, 0% 0%;
    background-image: var(--test);
  }
  to {
    background-size: 100% 100%, 100% 100%;
    background-image: var(--test);
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}
.separationEnsemble {
  width: 80vw;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  > h2 {
    color: var(--theme-light-color);
    font-size: 1.8rem;
    white-space: nowrap;
  }
}

.separationbar {
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(90deg, #CFAA7A, transparent);
  width: 100%;

  &:first-child {
    background: linear-gradient(90deg, transparent, #CFAA7A);
  }
}

.individualCompetenceBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(#26282b,#181B1F);
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgba(90,90,90,.1), 0 8px 10px -6px hsla(0,0%,43%,.1);
  padding: 20px;
  border: 1px solid #CFAA7A;
}

.individualCompetenceBlock.light-theme {
  background: radial-gradient(whitesmoke,white);
  color: #26282b;
}
.skillsContainer{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.skillsIndividual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem 4rem;
  flex-wrap: wrap;
  padding: 20px 30px 30px
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skillsTitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-align-last: center;
  margin: 0;
  color: #CFAA7A;
}
.skillLogo {
  background: radial-gradient(#73777e,#181B1F);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #26282b;
  filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
  box-sizing: border-box;
}

.skillLogo img{
  height: auto;
  width: 58px
}

.skillLogo.light-theme{
  background: radial-gradient(whitesmoke, #e1e1e1);
  border: 2px solid rgba(245, 245, 245, 0.385);
}

.projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-bottom: 100px;
}
.myProjectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 90vw;
}
.individualProjectContainer {
  height: 405px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  min-width: 270px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease
}
label{
  width: 100%;
  height: 100%;
  display: block;
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;
}
.flip-card{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 1500ms;
  background-image: linear-gradient(#CFAA7A, #313131 100%,#CFAA7A 0%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  border: #CFAA7A solid 1px;
}
.individualProjectContainer:hover{
  transform: scale(1.10);
}
.flip-card .front,
.flip-card .back{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 405px;
  width: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
}
.flip-card .front {
  transform: rotateY(0deg);
}

.flip-card .back {
  transform: rotateY(180deg) rotate(0.1deg); /* Ajout d'une légère rotation */
}

input {
  display: none;
}
:checked + .flip-card {
  transform: rotateY(180deg);
}
.individualProjectContainer.light-theme{
  .flip-card{
    background-image: linear-gradient(#CFAA7A, white 100%,#CFAA7A 0%);
    .png{
      background-color: transparent;
    }
    .projectTitle{
      color: #26282b !important;
    }
    .bouton{
      background-color: white;
    }
  }

}
.profilePicture{
  width: 100%;
}
.projectPicture{
  border-radius: 8px 8px 0 0;
  width: 300px;
  height: 300px;
}

.pojectTitle{
  text-align: center;
  text-align-last: center;
  margin: 0;
  color:whitesmoke !important
}
.projectTitle h3 {
  margin: 0
}
.projectTitle p{
  margin-top: 0;
  margin-bottom: 11px;
}
.projectSkills{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 0 10px 10px;
  border-radius: 8px;
}
.projectSkills img{
  height: auto;
  width: 24px;
}
.aboutProject {
  display: flex;
  flex-direction: column;
  text-align: center;
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p{
    margin: 0;
    padding: 0 10px 0 10px ;
    text-align: justify;
  }
}
.boutons{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.bouton{
  background-color: #26282b;
  margin: 20px 70px 0px 70px;
  border-radius: 8px;
  border: 1px solid #CFAA7A;
  p{
    text-align: center;
  }
}
.pngLogo{
  border-radius: 8px 8px 0 0;
}
.png {
  background-color: #F5F5F5;
}
.site {
  height: 230px !important;
}
.b {
  cursor: not-allowed;
}
.contactg{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact{
  position: relative;
  display: flex;
  width: 100%;
  gap: 0;
  justify-content: center;
  align-items: center;
  height: auto;
  .pitch .c {
    gap: 0;
  }
}

@media (max-width: 768px) {
  .accueil {
    margin: 150px 0 100px;
    flex-direction: column-reverse;
    width: 100%;
  }
  .pitchArea{
    background-color: #CFAA7A;
    background-image: var(--test);
    background-repeat: no-repeat;
    background-size: 0 1px, 0 100%, 0% 1px;
    margin-left: 20px;
    margin-right: 20px;
    animation: 2s drawBorderFromTop 1.5s backwards;
    border-radius: 20px;
  }
  .pitch {
    width: 100%;
  }
  .profilePicture {
    width: 40vw;
  }
  .line {
    width: 1px;
    height: 70px;
    animation: 1s lineHorizontalGrow 0.5s forwards;
  }
  .skills{
    gap: 75px;
  }
  .individualCompetenceBlock {
    margin: 20px;
  }
  .pitch.c {
    margin: 0;
    align-items: center;
  }
  .skillsContainer{
    gap: 20px
  }
  .myProjectsContainer{
    gap: 35px
  }
}

@media (max-width: 550px) {
  .separationbar{
    display: none;
  }
}

@media (max-width: 425px) {

  .pitch{
    width: 280px;
    padding: 5px;
    text-align: center;
  }
  .icon{
    width: 100%;
    gap: 0px;
  }
}

@media (max-width: 319px) {
  .individualProjectContainer{
    padding-left: 0;
    padding-right: 0;
  }
  .myProjectsContainer{
    width: 298px;
  }
}

@media (min-width: 319px){
  .projectPicture{
    width: 100%;
  }
}
